.container-error {
  padding-left: 1rem;
}

.container-ranking {
  position: relative;
  height: 5rem;
}

.container-pagina {
  display:flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  padding-top: .3rem;
  padding-bottom: 2rem;
  user-select: none;
  position: relative;
}

.arrow-pagina {
  cursor: pointer;
  position: relative;
  width: auto;
}

#pagina-first {
  margin-right:auto;
  padding-left: 1rem;
  width: auto;
}

#pagina-last {
  margin-left:auto;
  padding-right: 1rem;
  width: auto;
}