.container-nav {
  height: 3rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border:.3rem solid var(--clr-accent-600);
  background-color: var(--clr-accent-600);
  opacity: 100%;
}

.primary-nav {
  top: 0;
  bottom: 0;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  right: auto;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.nav-wrapper {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed; 
}

.nav-element-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.nav-element {
  color: var(--clr-primary-400);
}

.clicked
{
  background-color: var(--clr-neutral-900);
  color: var(--clr-accent-600) !important;
}
