body {
  font-size: var(--size-300);
  font-family: var(--ff-body);
  color: var(--clr-primary-100);
  background-color: var(--clr-primary-400);
  margin: 0;
}

/* SECCIONES */
.body-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: var(--fs-400);
}

.section-nav {
  padding-top: 1rem;
}

/* HEADER */
.section-header {
  width: 100%;
  border-bottom: 2px solid var(--clr-neutral-900);
}

.container-header {
  height: 3rem;
  display: flex;
  vertical-align: middle;
  align-items: center;
  width: 100%;
}

/* FOOTER */
.section-footer {
  margin-top: auto;
  width: 100%;
  align-items: center;
  border-top: 2px solid var(--clr-neutral-900);
  height: 3rem;
  font-size: var(--fs-300);
}

.container-footer {
  height: 3rem;
  display: flex;
  vertical-align: middle;
  align-items: center;
  padding-right: 1rem;
}

/* NAVEGACION */
.nav-wrapper a {
  vertical-align: middle;
}

.header-img {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: .8rem;
  padding-right: .5rem;
  float: left;
  height: 1.5rem;
}

a {
  color: var(--clr-neutral-900);
}

/* BUSCAR */
.message-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  /* height: 2rem; */
  gap: 1rem;
}

.grupo-input {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  font-family: var(--ff-primary);
}

.input-message {
  font-size: var(--fs-300);
}

.input-button[disabled],
button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
  cursor: not-allowed;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.input-box {
  padding: 10px 10px 0px 5px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 11rem;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-regular);
  font-size: var(--fs-350);
  text-align: center;
}

.input-box:focus {
  outline: none;
}

.input-button {
  display: block;
  font-size: var(--fs-button);
  width: 13em;
  height: 2.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: -.8rem;
}

.input-button:hover {
  background-color: var(--clr-accent-800);
  border: 1px solid var(--clr-accent-700);
  border-radius: .1rem;
}

.input-label {
  color: white;
  font-weight: var(--fw-regular);
  font-size: var(--fs-300);
  position: relative;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  top: -1.4rem;
  opacity: 50%;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input-box:focus~.input-label,
.input-box:not(:placeholder-shown)~.input-label {
  top: -2.5rem;
  opacity: 100%;
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  color: var(--clr-accent-300);
}

.input-box:focus~.bar:before,
.input-box:focus~.bar:after {
  width: 50%;
}

.bar {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 11rem;
}

.bar:before,
.bar:after {
  content: '';
  height: .20rem;
  width: 0;
  bottom: 0;
  position: absolute;
  background:var( --clr-accent-300);
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* CONTAINER DEFAULT */
.container-default {
  padding: 1rem;
  font-weight: var(--fw-regular);
  font-size: var(--fs-400);
}

/* CONTAINER ERROR */
.container-error {
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* POLES */

.poles-title {
  font-size: var(--fs-600);
  text-align: center;
  padding: 1rem;
}


/* IGNORADOS */
.list-wrapper.temas-ignorados,
.list-wrapper.usuarios-ignorados {
  height: auto;
}

.tema-ignorado-wrapper, 
.usuario-ignorado-wrapper {
  display: flex;
  padding-left: 1.5rem;
}

.content-ignorados {
  display: flex;
  margin: 2%;
  height: auto;
}

.container-usuarios-ignorados {
  width: 50%;
  border-width: 2px 2px 2px 2px;
  border-style: dashed;
  border-color: var(--clr-accent-400);
}

.container-temas-ignorados {
  height: auto;
  width: 50%;
  border-width: 2px 2px 2px 0px;
  border-style: dashed;
  border-color: var(--clr-accent-400);
}

.grupo-input.usuarios-ignorados {
  margin: 0;
}

.grupo-input.temas-ignorados {
  margin: 0;
}

.message-wrapper.usuarios-ignorados {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.message-wrapper.temas-ignorados {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.list-wrapper {
  height: 5rem;
}

.tema-ignorado-eliminar {
   margin-left: auto;
   padding-right: 2rem;;
}