body {
  font-size: var(--size-300);
  font-family: var(--ff-body);
  color: var(--clr-primary-100);
  background-color: var(--clr-primary-400);
  margin: 0;
}

/* SECCIONES */
.body-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-nav {
  padding-top: 1rem;
}

/* HEADER */
.section-header {
  width: 100%;
  border-bottom: 2px solid var(--clr-neutral-900);
}

.container-header {
  height: 3rem;
  display: flex;
  vertical-align: middle;
  align-items: center;
  width: 100%;
}

/* FOOTER */
.section-footer {
  margin-bottom:0;
  width: 100%;
  align-items: center;
  border-top: 1px solid var(--clr-neutral-900);
  font-size: var(--fs-300);
}

.container-footer {
  width: 100%;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
  gap: 5rem;
  height: 4rem;
}

.footer-item {
  color: var(--clr-primary-400);
  font-size: var(--fs-500);
  font-weight: var(--fw-semi-bold);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .1rem;
  vertical-align: middle;
  cursor: pointer;
}

.nav-img {
  display: inline-block;
  height: 1.6em;
  width: 1.6em;
  background-repeat:no-repeat;
  background-size:contain;
}

#footer-donate-img {
  background-image: url(images/donate.png);
}

#footer-donate:hover #footer-donate-img {
  background-image: url(images/donate_over.png);
}

#footer-rate-img {
  background-image: url(images/rate.png);
}

#footer-rate:hover #footer-rate-img {
  background-image: url(images/rate_over.png);
}

#footer-github-img {
  background-image: url(images/github.png);
}

#footer-github:hover #footer-github-img {
  background-image: url(images/github_over.png);
}

/* NAVEGACION */
.nav-wrapper a {
  vertical-align: middle;
}

.header-img {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: .8rem;
  padding-right: .5rem;
  float: left;
  height: 1.5rem;
}

a {
  color: var(--clr-neutral-900);
}

/* BUSCAR */
.message-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  /* height: 2rem; */
  gap: 1rem;
}

.grupo-input {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  font-family: var(--ff-primary);
}

.input-message {
  font-size: var(--fs-300);
}

.input-button[disabled],
button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
  cursor: not-allowed;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.input-box {
  padding: 10px 10px 0px 5px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 11rem;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-regular);
  font-size: var(--fs-350);
  text-align: center;
}

.input-box:focus {
  outline: none;
}

.input-button {
  display: block;
  font-size: var(--fs-button);
  width: 13em;
  height: 2.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: -.8rem;
}

.input-button:hover {
  background-color: var(--clr-accent-800);
  border: 1px solid var(--clr-accent-700);
  border-radius: .1rem;
}

.input-label {
  color: white;
  font-weight: var(--fw-regular);
  font-size: var(--fs-300);
  position: relative;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  top: -1.4rem;
  opacity: 50%;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input-box:focus~.input-label,
.input-box:not(:placeholder-shown)~.input-label {
  top: -2.5rem;
  opacity: 100%;
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  color: var(--clr-accent-300);
}

.input-box:focus~.bar:before,
.input-box:focus~.bar:after {
  width: 50%;
}

.bar {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 11rem;
}

.bar:before,
.bar:after {
  content: '';
  height: .20rem;
  width: 0;
  bottom: 0;
  position: absolute;
  background: var(--clr-accent-300);
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* CONTAINER DEFAULT */
.container-default {
  padding: 1rem;
  font-weight: var(--fw-regular);
}

/* CONTAINER ERROR */
.container-error {
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* POLES */

.poles-title {
  font-size: var(--fs-600);
  text-align: center;
  padding: 1rem;
}


/* IGNORADOS */
.list-wrapper.temas-ignorados,
.list-wrapper.usuarios-ignorados {
  height: auto;
}

.tema-ignorado-wrapper,
.usuario-ignorado-wrapper {
  display: flex;
  padding-left: 1.5rem;
}

.content-ignorados {
  display: flex;
  margin: 2%;
  height: auto;
}

.container-usuarios-ignorados {
  width: 50%;
  border-width: 2px 2px 2px 2px;
  padding-bottom: .5rem;
}

.container-temas-ignorados {
  height: auto;
  width: 50%;
  border-width: 2px 2px 2px 0px;
  padding-bottom: .5rem;
}

.grupo-input.usuarios-ignorados {
  margin: 0;
}

.grupo-input.temas-ignorados {
  margin: 0;
}

.message-wrapper.usuarios-ignorados {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.message-wrapper.temas-ignorados {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.list-wrapper {
  height: 5rem;
}

.usuario-ignorado-eliminar,
.tema-ignorado-eliminar {
  margin-left: auto;
  padding-right: 2rem;
  ;
  cursor: pointer;
}

/* OPCIONES */
.container-opciones {
  height: 100%;
  border-width: 2px 2px 2px 2px;
  margin: 2%;
  padding: .6rem;
}

.opciones-generales {}

.opciones-ignorar {
  padding-top: 1rem;
}

.opciones-viejo {
  padding-top: 1rem;
}

.opciones-nuevo {
  padding-top: 1rem;
}

.dashed {
  border-style: dashed;
  border-color: var(--clr-accent-400);
}

.opciones-header {
  padding-bottom: .3rem;
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

/* CHECKBOX */
.checkbox-wrapper {
  font-size: var(--fs-300);
  padding-left: .6rem;
  padding-bottom: .4rem;
}


/* CONTAINER RANKING */
.table {
  display: table;
  width: 100%;
  margin: auto;
  color: var(--clr-primary-400);
  font-size: var(--fs-400);
  border: 0;
  margin: 0;
  padding: 0;
  background-color: var(--clr-accent-600);
  user-select: none;
  height: 100%;
}

.container-ranking {
  height: 100%;
  border-width: 2px 2px 2px 2px;
  border-style: dashed;
  border-color: var(--clr-accent-400);
  padding-bottom: 1rem;
  margin: 2%;
  padding-left: .3rem;
  padding-right: .3rem;
}

.container-pagina {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  padding-top: .3rem;
  user-select: none;
  font-size: var(--fs-300);
}

.arrow-pagina {
  cursor: pointer;
  width: auto;
}

#pagina-first {
  margin-right: auto;
  padding-left: 1rem;
  width: auto;
}

#pagina-last {
  margin-left: auto;
  padding-right: 1rem;
  width: auto;
}

/* CONTAINER POLES */
.container-poles {
  border-width: 2px 2px 2px 2px;
  border-style: dashed;
  border-color: var(--clr-accent-400);
  padding-bottom: 1rem;
  margin: 2%;
}

.container-table-poles {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* OPCIONES */
.color-selector {
  position: relative;
  height: 1.2rem;
  width: 3rem;
  border: none;
  border-color: transparent;
  top: 3px;
  left: 5px;
  margin-top: -1rem;
}

input[type="color"] {
  padding: 1px;
}

input[type="color"]::-moz-color-swatch {
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

.main-content {
  padding: 1.6rem;
  padding-top: .5rem;
}

/* MAIN PAGE */
.container-default-title {
  font-size: var(--fs-670);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 1.5rem;
}

.topDiv {
  cursor: pointer;
  font-size: var(--fs-500);
  padding-left: .5rem;
}

.botDiv {
  display: none;
  padding-top: .5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: var(--clr-primary-200);
  font-size: var(--fs-350);
  font-weight: var(--fw-thin);
  line-height: 1.4rem;
}

hr {
  border: 1px solid;
  border-color: var(--clr-neutral-900);
  margin-bottom: 1rem;
}

li {
  margin-left: .5rem;
}