.info-user-display {
    display: none;
}

.table_row:hover .info-user-display {
    display: block;
    position: fixed;
    overflow: hidden;
    color: var(--clr-primary-400);
    background-color: var(--clr-primary-100);
    font-size: var(--fs-400);
    padding: .5rem;
    border: 1px solid var(--clr-primary-400);
}

.floating-p {
    display: block;
    padding: 0;
    margin: 0;
    font-weight: var(--fw-regular);
}

.table_row:hover:not(.floating-p):not(.table_header) {
    font-weight: var(--fw-bold);
    text-decoration: underline;
    color: var(--clr-primary-400);
    z-index: 5;
}

.selRow {
    background-color: rgb(223, 145, 145) !important;
    background-image: none !important;
    z-index: 6;
}


.content-table-ranking,
.container-table-poles {
    display: table;
    width: 100%;
    margin: auto;
    color: var(--clr-primary-400);
    font-size: var(--fs-400);
    border: 0;
    margin: 0;
    padding: 0;
    background-color: var(--clr-accent-600);
    user-select: none;
    height: 100%;
}

.table_row {
    display: flex;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.table_cell {
    float: left;
    display: table-column;
}

.table_cell_first, .table_header_ranking_first {
    width: 14%;
}

.table_cell_usuario, .table_header_ranking_usuario {
    width: 32%;
}

.table_cell_puntos, .table_header_ranking_puntos {
    width: 20%;
}

.table_cell_hilos, .table_header_ranking_hilos {
    width: 12%;
}

.table_cell_mensajes, .table_header_ranking_mensajes {
    width: 22%;
}

.table_body {
    background-color: var(--clr-accent-600);
}

.table_header {
    display: flex;
    align-items: center;
    font-weight: var(--fw-bold);
    font-size: var(--fs-500);
    color: var(--clr-accent-600);
    height: var(--fs-670);
    text-align: left;
    position: sticky;
    top: 0;
    background-color: #009879;
    z-index: 100;
}

.table_cell_first, .table_cell_first_poles, .table_cell_poles_poles, .table_header_poles_poles, .table_cell_mas_info_poles{
    text-align: center;
}

.first-row {
    background-image: linear-gradient(to right,
            #f6e27a 10%,
            #cb9b51 22%,
            #f6e27a 35%,
            #f6e27a 55%,
            #cb9b51 72%);
    font-size: var(--fs-630);
    font-weight: var(--fw-semi-bold);
}

.second-row {
    background-image: linear-gradient(to right,
            #aaa9ad 10%,
            #8d8b96 22%,
            #bfbdc5 35%,
            #f4f1fa 55%,
            #aaa9ad 72%);
    font-size: var(--fs-600);
    font-weight: var(--fw-semi-bold);
}

.third-row {
    background-image: linear-gradient(to right,
            #ad8a56 15%,
            #775b31 33%,
            #bd9d6d 55%,
            #dac7ab 65%,
            #ad8a56 82%);
    font-size: var(--fs-500);
    font-weight: var(--fw-semi-bold);
}

.content-table-ranking .table_row:nth-of-type(2),
.content-table-poles .table_row:nth-of-type(2) {
    padding-top: .2rem;
}

.content-table-ranking,.content-table-poles:last-child {
    border-bottom: .5rem solid;
    border-color: var(--clr-accent-400);
}

/* CONTAINER RANKING */
.container-ranking {
    height: 100%;
}

.container-pagina {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    padding-top: .3rem;
    padding-bottom: 2rem;
    user-select: none;
    font-size: var(--fs-300);
}

.arrow-pagina {
    cursor: pointer;
    width: auto;
}

#pagina-first {
    margin-right: auto;
    padding-left: 1rem;
    width: auto;
}

#pagina-last {
    margin-left: auto;
    padding-right: 1rem;
    width: auto;
}


/* CONTAINER POLES */
.container-poles {
    padding-bottom: 1rem;
}

.container-table-poles {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.show-poles {
    padding: .3rem;
    border: 2px solid var(--clr-accent-400);
    border-top: 1px dashed var(--clr-accent-400);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-300);
    background-color: var(--clr-accent-800) !important;
    background-image: none !important;
}

.table_poles_link {
    color: var(--clr-primary-400);
    font-weight: var(--fw-semi-bold);
    cursor: pointer;
}

.table_poles_link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sel_row_pole {
    border: 2px solid var(--clr-accent-400);
    border-bottom: 0;
    background-color: var(--clr-accent-800) !important;
    background-image: none !important;
    font-weight: var(--fw-bold);
    z-index: 6;
}

.table_cell_first_poles, .table_header_poles_first {
    width: 25%;
}

.table_cell_usuario_poles, .table_header_poles_usuario {
    width: 50%;
}

.table_cell_poles_poles, .table_header_poles_poles {
    width: 25%;
}