.info-user-display {
    display: none;
}

.table_row:hover .info-user-display {
    display: block;
    position: fixed;
    overflow: hidden;
    color: var(--clr-primary-400);
    background-color: var(--clr-primary-100);
    font-size: var(--fs-400);
    padding: .5rem;
    border: 1px solid var(--clr-primary-400);
}

.floating-p {
    display: block;
    padding: 0;
    margin: 0;
    font-weight: var(--fw-regular);
}

.table_row:hover:not(.floating-p):not(.table_header) {
    font-weight: var(--fw-bold);
    text-decoration: underline;
    color: var(--clr-primary-400);
    z-index: 5;
}

.selRow {
    background-color: rgb(223, 145, 145) !important;
    background-image: none !important;
    background: yellow;
    z-index: 6;
}


.content-table {
    display: table;
    width: 100%;
    margin: auto;
    color: var(--clr-primary-400);
    font-size: var(--fs-400);
    border: 0;
    margin: 0;
    padding: 0;
    background-color: var(--clr-accent-600);
    user-select: none;
    height: 100%;
}

.table_row {
    display: flex;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.table_cell {
    float: left;
    display: table-column;
}

.table_cell_first {
    width: 10%;
}

.table_cell_usuario {
    width: 32%;
}

.table_cell_puntos {
    width: 24%;
}

.table_cell_hilos {
    width: 14%;
}

.table_cell_mensajes {
    width: 20%;
}

.table_body {
    background-color: var(--clr-accent-600);
}

.table_header {
    display: flex;
    align-items: center;
    font-weight: var(--fw-bold);
    font-size: var(--fs-500);
    color: var(--clr-accent-600);
    height: var(--fs-670);
    text-align: left;
    position: sticky;
    top: 0;
    background-color: #009879;
    z-index: 100;
}

.content-table .table_cell:first-child {
    text-align: center;
}

.content-table .table_row:nth-of-type(2) {
    background-image: linear-gradient(to right,
            #f6e27a 10%,
            #cb9b51 22%,
            #f6e27a 35%,
            #f6e27a 55%,
            #cb9b51 72%);
    font-size: var(--fs-630);
    font-weight: var(--fw-semi-bold);
}

.content-table .table_row:nth-of-type(3) {
    background-image: linear-gradient(to right,
            #aaa9ad 10%,
            #8d8b96 22%,
            #bfbdc5 35%,
            #f4f1fa 55%,
            #aaa9ad 72%);
    font-size: var(--fs-600);
    font-weight: var(--fw-semi-bold);
}

.content-table .table_row:nth-of-type(4) {
    background-image: linear-gradient(to right,
            #ad8a56 15%,
            #775b31 33%,
            #bd9d6d 55%,
            #dac7ab 65%,
            #ad8a56 82%);
    font-size: var(--fs-500);
    font-weight: var(--fw-semi-bold);
}

.content-table:last-child {
    border-bottom: .5rem solid;
    border-color: var(--clr-accent-400);
}

/* CONTAINER RANKING */
.container-ranking {
    height: 100%;
  }
  
  .container-pagina {
    display:flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    padding-top: .3rem;
    padding-bottom: 2rem;
    user-select: none;
    font-size: var(--fs-300);
  }
  
  .arrow-pagina {
    cursor: pointer;
    width: auto;
  }
  
  #pagina-first {
    margin-right:auto;
    padding-left: 1rem;
    width: auto;
  }
  
  #pagina-last {
    margin-left:auto;
    padding-right: 1rem;
    width: auto;
  }