<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;700&display=swap"
        rel="stylesheet">
    <script src="../static/thirdParty/jquery-3.6.3.min.js" defer></script>
    <script type="module" src="../static/popup.js" defer></script>
    <script type="module" src="../static/users.js" defer></script>
    <script type="module" src="../static/table.js" defer></script>
    <script type="module" src="../static/opciones.js" defer></script>
    <script type="module" src="../static/ignorados.js" defer></script>
    <link rel=stylesheet type="text/css" href="../static/popup.css">
    <link rel=stylesheet type="text/css" href="../static/table.css">
    <link rel=stylesheet type="text/css" href="../static/style.css">
    <link rel=stylesheet type="text/css" href="../static/nav.css">
    <title>Document</title>
</head>

<body>
    <div class="body-wrapper">
        <div class="section-header bg-neutral-100">
            <div class="container-header">
                <a href="#"><img src="../static/images/icon128.png" alt="forocoches-premium-logo"
                        class="header-img"></a>
                <div class="fs-primary-heading text-primary-400 fw-semi-bold">Forocoches Premium</div>
                <div class="version-num"></div>
            </div>
        </div>
        <div class="section-nav">
            <div class="container-nav">
                <nav class="primary-nav" id="primary-nav">
                    <div class="nav-wrapper noselect">
                        <div class="nav-element-container" id="ranking">
                            <div>🏅</div>
                            <div class="nav-element">Ranking</div>
                        </div>
                        <div class="nav-element-container" id="poles">
                            <div>🥇</div>
                            <div class="nav-element"> Poles</div>
                        </div>
                        <div class="nav-element-container" id="ignorados">
                            <div>🚫</div>
                            <div class="nav-element">Ignorados</div>
                        </div>
                        <div class="nav-element-container" id="opciones">
                            <div>⚙️</div>
                            <div class="nav-element"> Opciones</div>
                        </div>
                        <div class="nav-element-container" id="info">
                            <div>📝</div>
                            <div class="nav-element">+Info</div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="section-body">
            <div class="container-default main-content">
                <div class="container-default-title">Bienvenido a Forocoches Premium</div>
                <div class="topDiv">❓ ¿De qué trata esta extensión?</div>
                <div class="botDiv">Forocoches Premium es una extensión para Chrome creada con la intención de añadir
                    interesantes e interesantes funcionalidades a forocoches.
                    En 2010 me convertí en forocochero, y desde entonces he encontrado muchas cosas en forocoches que se
                    podrían mejorar. Gracias a esta extensión, muchas de
                    esas mejoras han sido añadidas al foro.
                </div>
                <hr>
                <div class="topDiv">🏅 Ranking</div>
                <div class="botDiv">Cada vez que entras en un hilo o un perfíl de usuario, información sobre los
                    mensajes e hilos creados por los usuarios es usada para
                    crear un ranking forocochero donde los hilos y mensajes de cada usuarios son usados para ganar
                    puntos.
                </div>
                <hr>
                <div class="topDiv">🥇 Poles</div>
                <div class="botDiv">Usando la extensión forocoches premium, cada vez que entres en un hilo la pole será
                    automaticamente guardada. El ranking de poles
                    muestra los top 20 foreros con más poles. Cuando entras en un tema inválido, la pole para ese hilo
                    se borarrá. Todas las hilos de los usuarios en el ranking
                    donde las poles han sido hechas se pueden visitar desde el ranking.
                </div>
                <hr>
                <div class="topDiv">🚫 Ignorados </div>
                <div class="botDiv">La sección de ignorados ofrece una versión mejorada para ignorar usuarios, donde los
                    mensajes de usuarios ignorados son completamente
                    borrados del foro. De la misma forma, los hilos creados por usuarios ignorados serán borrados.
                    Ahora hilos que incluyan ciertas palabras en el título podrán ser ignorados, así que, si no quieres
                    ver hilos hablando de política o fútbol, puedes añadir
                    esas palabras en el filtro para que esos hilos no aparezcan en el foro.
                </div>
                <hr>
                <div class="topDiv">⚙️ Opciones</div>
                <div class="botDiv">Esta sección permiten activar o desactivar las diferentes opciones que ofrece esta
                    extensión.
                    Entre otras, las nuevas funcionalidades que ofrece esta extensión son:
                    <li> Notas para usuarios donde escribir lo que piensas de cada usuario.</li>
                    <li> Activar "Me gusta" para mensajes, donde podrás ver los likes de cada mensaje en el hilo.</li>
                    <li> Colorear el fondo de los mensajes del OP, haciendo el seguimiento del hilo más ameno y
                        sencillo.</li>
                    <li> Colorear títulos de hilos con 0 mensajes, haciendo más fácil polear en hilos sin mensajes.</li>
                    <li> Ocultar publicidad y avisos del foro.</li>
                    <li> Ocultar secciones laterales como "Trending" y "Foros relacionados".</li>
                    <li> Hacer avatares más grandes y/o cuadrados.</li>
                    <li> Incrementar el ancho del foro en el nuevo diseño para eliminar parte del espacio sin usar de
                        los laterales.</li>
                    <li> Activar ignorados mejorados para usuarios e hilos.</li>
                </div>
                <hr>
                <div class="topDiv">📄 Registro de cambios </div>
                <div class="botDiv">
                    <dl>
                        <dt class="topDiv">Versión 1.6.0</dt>
                        <div class="botDiv botVersion">
                            <dd>Añadido el número de versión en la extensión.</dd>
                            <dd>Añadida sección "+Info".</dd>
                            <dd>Añadida la opción de exportar/importar ignorados.</dd>
                            <dd>En la sección ignorados, "-" ahora aparece como ❌.</dd>
                            <dd>Arreglado bug que hacía que la opción de ignorar no funcionase correctamente cuando un
                                usuario estaba ignorado usando forocoches y la extensión a la vez.</dd>
                            <dd>Dependiendo del tema del foro (dark, light), el texto usado para dar "me gusta" tiene
                                diferente color.</dd>
                            <dd>La opción "Ocultar usuarios ignorados del todo, incluso sus hilos" solo se puede
                                activar si la opción "Activar usuarios ignorados" está activada.</dd>
                            <dd>Arreglado bug que no ocultaba citas de usuarios ignorados correctamente cuando la
                                capitalización del nick
                                no coincidia exactamente.</dd>
                            <dd>Arreglado bug que no ocultaba al usuario ignorado si este era el primer mensaje del
                                hilo.</dd>
                        </div>
                        <hr class="botDivhr">
                        <dt class="topDiv">Versión 1.5.5</dt>
                        <div class="botDiv botVersion">
                            <dd>Añadido "Registro de cambios" para incluir los cambios de cada versión.</dd>
                        </div>
                        <hr class="botDivhr">
                        <dt class="topDiv">Versión 1.5.4</dt>
                        <div class="botDiv botVersion">
                            <dd>Arreglado bug que ponía la cantidad de hilos del usuario a 0 en el ranking cuando se
                                visitaba su perfíl usando el diseño antiguo.</dd>
                            <dd>Añadido link al repositorio de GitHub.</dd>
                        </div>
                        <hr class="botDivhr">
                        <dt class="topDiv">Versión 1.5.2</dt>
                        <div class="botDiv botVersion">
                            <dd>Arreglado bug que, al activar la opción de eliminar publicidad, ocultaba el botón
                                "Responder" y la selección de páginas al entrar en un hilo usando el diseño antiguo.
                            </dd>
                            <dd>La opción "Activar likes" ahora se encuentra bajo la sección "General" en las opciones.
                            </dd>
                        </div>
                        <hr class="botDivhr">
                    </dl>
                </div>
                <hr>
            </div>
            <div class="container-ranking main-content visually-hidden dashed">
                <div class="grupo-input">
                    <input type="input" placeholder=" " class="input-box" id="user-buscar">
                    <span class="bar"></span>
                    <label class="input-label">Nombre de Usuario</label>
                    <button class="button input-button" id="submit-buscar">Buscar</button>
                </div>
                <div class="message-wrapper">
                    <label class="input-message" id="add-user-message"></label>
                    <label class="input-info"></label>
                </div>
                <div class="container-table-ranking ">
                    <div class="content-table-ranking table" id="content-table-ranking">
                    </div>
                    <div class="container-pagina">
                        <div class="arrow-pagina page-visually-hidden" id="pagina-first">🡨🡨 primera</div>
                        <div class="arrow-pagina page-visually-hidden" id="pagina-left">🡨 anterior</div>
                        <div class="arrow-pagina" id="pagina-right">siguiente 🡪</div>
                        <div class="arrow-pagina" id="pagina-last">última 🡪🡪</div>
                    </div>
                </div>
            </div>
            <div class="container-poles main-content visually-hidden dashed">
                <div class="poles-title">Top 20 poleadores</div>
                <div class="container-table-poles table">
                    <div class="content-table-poles" id="content-table-poles">
                    </div>
                </div>
            </div>
            <div class="container-ignorados main-content visually-hidden">
                <div class="content-ignorados">
                    <div class="container-usuarios-ignorados dashed">
                        <div class="poles-title usuarios-ignorados">Usuarios Ignorados</div>
                        <div class="load-unload-ignored-list">
                            <button class="button input-button button-small"
                                title="Los usuarios ignorados deben de estar separados por comma ( , )"
                                id="usuarios-ignorados-load">Cargar 📁</button>
                            <button class="button input-button button-small" id="usuarios-ignorados-save">Guardar
                                💾</button>
                        </div>
                        <div class="grupo-input usuarios-ignorados">
                            <input type="input" placeholder=" " class="input-box" id="usuarios-ignorados-input">
                            <span class="bar"></span>
                            <label class="input-label usuarios-ignorados">Nombre de Usuario</label>
                            <button class="button input-button" id="submit-usuarios-ignorados">Añadir</button>
                        </div>
                        <div class="list-wrapper usuarios-ignorados">
                        </div>
                    </div>
                    <div class="container-temas-ignorados dashed">
                        <div class="poles-title temas-ignorados">Temas Ignorados</div>
                        <div class="load-unload-ignored-list">
                            <button class="button input-button button-small"
                                title="Los temas ignorados deben de estar separados por comma ( , )"
                                id="temas-ignorados-load">Cargar 📁</button>
                            <button class="button input-button button-small" title="" id="temas-ignorados-save">Guardar
                                💾</button>
                        </div>
                        <div class="grupo-input temas-ignorados">
                            <input type="input" placeholder=" " class="input-box" id="temas-ignorados-input">
                            <span class="bar"></span>
                            <label class="input-label temas-ignorados">Palabra(s) clave</label>
                            <button class="button input-button" id="submit-temas-ignorados">Añadir</button>
                        </div>
                        <div class="list-wrapper temas-ignorados">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-opciones main-content visually-hidden dashed">
                <div class="content-opciones">
                    <div class="opciones-generales">
                        <div class=" opciones-header">General</div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-ocultar-publicidad" /> Ocultar publicidad
                            </label>
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-ocultar-avisos" /> Ocultar avisos
                            </label>
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-op-color" /> Color los mensajes del creador del hilo
                            </label>
                            <input type="color" class="color-selector" id="op-color" value="#898AA6">
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-usuario-color" /> Colorear tus mensajes en los hilos
                            </label>
                            <input type="color" class="color-selector" id="usuario-color" value="#5EAAA8">
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-hilos-color" /> Colorear hilos sin mensajes
                            </label>
                            <input type="color" class="color-selector" id="hilos-color" value="#DF9191">
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-notas-usuario" /> Activar notas
                            </label>
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-likes" /> Activar likes
                            </label>
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-auto-subir-imagenes" /> Activar subir imágenes automáticamente
                            </label>
                        </div>
                    </div>
                    <div class="opciones-ignorar">
                        <div class=" opciones-header">Ignorados</div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-usuarios-ignorados" /> Activar usuarios ignorados
                            </label>
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-ocultar-usuarios-ignorados" /> Ocultar
                                usuarios ignorados del todo, incluso sus hilos!
                            </label>
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-temas-ignorados" /> Activar temas ignorados
                            </label>
                        </div>
                    </div>
                    <div class="opciones-nuevo">
                        <div class=" opciones-header">Diseño Nuevo</div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-espacio-lateral" /> Incrementar ancho del foro
                            </label>
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-ocultar-trending" /> Ocultar sección "Trending"
                            </label>
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-ocultar-foros-relacionados-nuevo" /> Ocultar sección
                                "Foros Relacionados"
                            </label>
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-avatar-cuadrado" /> Avatares cuadrados
                            </label>
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-avatar-grande" /> Avatares más grandes
                            </label>
                        </div>
                    </div>
                    <div class="opciones-viejo">
                        <div class=" opciones-header">Diseño Viejo</div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">
                                <input type="checkbox" id="checkbox-ocultar-foros-relacionados-viejo" /> Ocultar sección
                                "Foros Relacionados"
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-info main-content visually-hidden dashed">
                <div>
                    <ul>
                        <li class="li-links">
                            Web:&nbsp;&emsp;&emsp;&emsp;<a target="_blank" href="http://www.forocochero.com">
                                <br>www.forocochero.com</a>
                        </li>
                        <li class="li-links">
                            Twitter:&emsp;&emsp;<a target="_blank" href="https://twitter.com/ehtiotumolas">
                                <br>https://twitter.com/ehtiotumolas</a>
                        </li>
                        <li class="li-links">
                            Contacto:&emsp;&emsp;<a target="_blank" href="mailto:ehtiotumolas@gmail.com">
                                <br>ehtiotumolas@gmail.com</a>
                        </li>
                        <li class="li-links">
                            GitHub:&emsp;&emsp;<a target="_blank"
                                href="https://github.com/ehtiotumolas/forocoches-premium">
                                <br>https://github.com/ehtiotumolas/forocoches-premium</a>
                        </li>
                        <li class="li-links">
                            Chrome Web Store:&emsp;&emsp;<a target="_blank" href="https://chrome.google.com/webstore/detail/forocoches-premium/hdiegimcikljdcgohlcnilgephloaiaa
                            "><br>https://chrome.google.com/webstore/detail/forocoches-premium/</a>
                        </li>
                    </ul>
                    <br><br>
                    ¿Has tenido una idea y quieres compartirla? ¿Tienes alguna sugerencia? ¿Has encotrado un bug o algo
                    que no funciona bien?
                    <br><br>
                    <ul>
                        <li class="li-links">
                            Problemas:&emsp;&emsp;<a target="_blank"
                                href="https://github.com/ehtiotumolas/forocoches-premium/issues">
                                <br>https://github.com/ehtiotumolas/forocoches-premium/issues</a>
                        </li>
                        <li class="li-links">
                            Preguntas e Ideas:&emsp;&emsp;<a target="_blank"
                                href="https://github.com/ehtiotumolas/forocoches-premium/discussions">
                                <br>https://github.com/ehtiotumolas/forocoches-premium/discussions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container-error main-content visually-hidden">
                <h1 class="error-message">Algo pasa con el servidor. Contacta <a
                        href="mailto:ehtiotumolas@gmail.com">ehtiotumolas@gmail.com</a></h1>
            </div>
        </div>
        <div class="section-footer text-primary-400">
            <div class="container-footer clr-neutral-100 bg-neutral-100">
                <div class="footer-item" id="footer-donate">
                    <div class="nav-img" id="footer-donate-img"></div>
                    <p>Donar</p>
                </div>
                <div class="footer-item" id="footer-rate">
                    <div class="nav-img" id="footer-rate-img"></div>
                    <p>Valorar</p>
                </div>
                <div class="footer-item" id="footer-github">
                    <div class="nav-img" id="footer-github-img"></div>
                    <p>GitHub</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>