<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="/static/thirdParty/jquery-3.6.3.min.js" defer></script>
    <script type="module" src="../static/popup.js" defer></script>
    <script type="module" src="../static/users.js" defer></script>
    <script type="module" src="../static/table.js" defer></script>
    <script type="module" src="../static/ignorados.js" defer></script>
    <link rel=stylesheet type="text/css" href="../static/popup.css">
    <link rel=stylesheet type="text/css" href="../static/table.css">
    <link rel=stylesheet type="text/css" href="../static/style.css">
    <link rel=stylesheet type="text/css" href="../static/nav.css">
    <title>Document</title>
</head>

<body>
    <div class="body-wrapper">
        <div class="section-header bg-neutral-100">
            <div class="container-header">
                <a href="#"><img src="/static/images/android-chrome-192x192.png" alt="forocoches-premium-logo"
                        class="header-img"></a>
                <div class="fs-primary-heading text-primary-400 fw-semi-bold">Forocoches Premium</div>
            </div>
        </div>
        <div class="section-nav">
            <div class="container-nav">
                <nav class="primary-nav" id="primary-nav">
                    <div class="nav-wrapper noselect">
                        <div class="nav-element-container" id="ranking">
                            <div class="nav-element">Ranking</div>
                        </div>
                        <div class="nav-element-container" id="poles">
                            <div class="nav-element">Poles</div>
                        </div>
                        <div class="nav-element-container" id="ignorados">
                            <div class="nav-element">Ignorados</div>
                        </div>
                        <div class="nav-element-container" id="opciones">
                            <div class="nav-element">Opciones</div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="section-body">
            <div class="container-default main-content">
                Aqui irá el texto general y todas esas cosas que se suelen poner para que la gente entienda de que va
                esto.
            </div>
            <div class="container-ranking main-content visually-hidden">
                <div class="grupo-input">
                    <input type="input" placeholder=" " class="input-box" id="user-buscar">
                    <span class="bar"></span>
                    <label class="input-label">Nombre de Usuario</label>
                    <button class="button input-button" id="submit-buscar">Buscar</button>
                </div>
                <div class="message-wrapper">
                    <label class="input-message" id="add-user-message"></label>
                    <label class="input-info"></label>
                </div>
                <div class="container-table-ranking">
                    <div class="content-table-ranking" id="content-table-ranking">
                    </div>
                    <div class="container-pagina">
                        <div class="arrow-pagina page-visually-hidden" id="pagina-first">🡨🡨 primera</div>
                        <div class="arrow-pagina page-visually-hidden" id="pagina-left">🡨 anterior</div>
                        <div class="arrow-pagina" id="pagina-right">siguiente 🡪</div>
                        <div class="arrow-pagina" id="pagina-last">última 🡪🡪</div>
                    </div>
                </div>
            </div>
            <div class="container-poles main-content visually-hidden">
                <div class="poles-title">Top 20 poleadores</div>
                <div class="container-table-poles">
                    <div class="content-table-poles" id="content-table-poles">
                    </div>
                </div>
            </div>
            <div class="container-ignorados main-content visually-hidden">
                <div class="content-ignorados">
                    <div class="container-usuarios-ignorados">
                        <div class="poles-title usuarios-ignorados">Usuarios Ignorados</div>
                        <div class="grupo-input usuarios-ignorados">
                            <input type="input" placeholder=" " class="input-box" id="usuarios-ignorados-input">
                            <span class="bar"></span>
                            <label class="input-label usuarios-ignorados">Nombre de Usuario</label>
                            <button class="button input-button" id="submit-usuarios-ignorados">Añadir</button>
                        </div>
                        <div class="list-wrapper usuarios-ignorados">
                        </div>
                    </div>
                    <div class="container-temas-ignorados">
                        <div class="poles-title temas-ignorados">Temas Ignorados</div>
                        <div class="grupo-input temas-ignorados">
                            <input type="input" placeholder=" " class="input-box" id="temas-ignorados-input">
                            <span class="bar"></span>
                            <label class="input-label temas-ignorados">Palabra(s) clave</label>
                            <button class="button input-button" id="submit-temas-ignorados">Añadir</button>
                        </div>
                        <div class="list-wrapper temas-ignorados">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-opciones main-content visually-hidden">
                <div class="content-opciones">
                    <div class="opciones-generales">General</div>
                    <div class="opciones-generales">Viejo Diseño</div>
                    <div class="opciones-generales">Nuevo Diseño</div>
                    <div class="opciones-ignorar">Ignorar</div>
                </div>
            </div>
            <div class="container-error main-content visually-hidden">
                <h1 class="error-message">Algo pasa con el servidor. Contacta <a
                        href="mailto:ehtiotumolas@gmail.com">ehtiotumolas@gmail.com</a></h1>
            </div>
        </div>
        <div class="section-footer text-primary-400">
            <div class="container-footer clr-neutral-100 bg-neutral-100">
                <h2 class="fs-200 fw-semi-bold push-to-right">Copyright 2023. All Rights Reserved</h2>
            </div>
        </div>
    </div>
</body>

</html>